/* styles.css */

* {
    text-align: center;
    background-color: #ebb35b;
}

img {
     width: 1280px;
     height: 750px;
}

h1 {
    font-size: 70px;
}
#ingredients ul li {
    display: inline-block;
    border: 2px solid black;
    padding: 20px;
   
}
#ingredients ul li {
    background-color: #c4d0da;
}