/* styles.css */

* {
    text-align: center;
    background-color: #ebb35b;
   
}

h1 {
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
    color: #c4d0da;
    background-color: #00030d;
}

p {
    list-style: none;
    font-size: 43px;
}
a {
    text-decoration: none;
    color: #000;
    background-color: #c4d0da;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif
}




